$bgcolor: rgb(255, 255, 255);
$maincolor: rgb(246, 242, 230);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $bgcolor;
}

header {
  display: flex;
  background-color: $bgcolor;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .logo .logo-link {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    background: #000;
    padding: 3px 8px 5px 8px;
    color: $bgcolor;
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
  }
  
  li,
  a,
  button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 800;
    background-color: $bgcolor;
  }

  .nav_links {
    list-style: none;
    background-color: $bgcolor;

    li {
      display: inline-block;
      padding: 0px 20px;
    }

    li a {
      transition: all 0.3s ease 0s;
      text-decoration: none;
      color: #000;
    }
  }

  button {
    border: none;
    cursor: pointer;
    font-size: medium;
    transition: all 0.3s ease 0s;
  }

  .login {
    position: relative;
  }

  .login:after,
  .login:before {
    transition: all .5s;
  }

  li a:after,
  li a:before {
    transition: all .5s;
  }

  li a {
    position: relative;
  }

  a:after {
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #333;
    height: 1px;
  }

  a:hover:after {
    width: 100%;
  }
}

.main-page {
  display: flex;
  position: relative;

  img {
    width: 100vw;
  }

  .card {
    display: grid;
    position: absolute;
    background-color: transparent;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 220px;
    margin-left: 50px;
    width: 45vw;

    h1,
    h2 {
      background-color: transparent;
      color: $bgcolor;
    }

    .travel {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgb(83, 83, 83);
    }

    .mainpage-shop {
      margin: 25px 100px 0px 100px;
      text-align: center;
      font-weight: 600;
      background: $bgcolor;
      color: #000;
      padding: 10px 8px 10px 8px;
      cursor: pointer;

      .shop-depawture {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

footer {
  height: auto;
  width: 100%;
  padding-top: 30px;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgcolor;
    flex-direction: column;
    text-align: center;

    .footer-bottom {
        padding-bottom: 40px; 
    }

    .socials {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 2.5rem 0;

      li {
        margin:0 10px;
        cursor: pointer;
        font-size: 1.2rem;
      }

      .fa-facebook:hover {
        color: rgb(66, 103, 178);
      }

      .fa-twitter:hover {
        color: rgb(26, 161, 242);
      }

      .fa-square-instagram:hover {
        color: rgb(193, 53, 132);
      }
      .fa-google-plus:hover {
        color: rgb(76, 139, 245);
      }
      .fa-youtube:hover {
        color: rgb(255, 0, 0);
      }

      .fa-linkedin:hover {
        color: rgb(10, 102, 194);
      }
    }
  }

  .footer-content h3 {
    font-weight: 600;
    font-size: 1.60rem;
    padding-bottom: 8px;
  }

  .footer-content p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 800;

  }
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
}