$bgcolor: rgb(255, 255, 255);
$maincolor: #f3ebdb;
$mainfont: 'IBM Plex Sans',
sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $bgcolor;
}

header {
  display: flex;
  background-color: $bgcolor;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .logo .logo-link {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;
    background: #000;
    padding: 3px 8px 5px 8px;
    color: $bgcolor;
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
  }

  li,
  a,
  .login-button {
    font-family: $mainfont;
    font-weight: 800;
    background-color: $bgcolor;
    text-decoration: none;
    color: #000;
  }

  .nav_links {
    list-style: none;
    background-color: $bgcolor;

    li {
      display: inline-block;
      padding: 0px 20px;
    }

    li a {
      transition: all 0.3s ease 0s;
      text-decoration: none;
      color: #000;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }

  .login-button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
  }

  .login-button {
    position: relative;
  }

  .login-button:after,
  .login-button:before {
    transition: all .5s;
  }

  li a:after,
  li a:before {
    transition: all .5s;
  }

  li a {
    position: relative;
  }

  a:after {
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #333;
    height: 1px;
  }

  a:hover:after {
    width: 100%;
  }
}

.main-page {
  display: flex;
  position: relative;

  img {
    width: 100vw;
  }

  .card {
    display: grid;
    position: absolute;
    background-color: transparent;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 220px;
    margin-left: 50px;
    width: 45vw;

    h1,
    h2 {
      background-color: transparent;
      color: $bgcolor;
    }

    .travel {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgb(83, 83, 83);
    }

    .mainpage-shop {
      margin: 25px 100px 0px 100px;
      text-align: center;
      font-weight: 600;
      background: $bgcolor;
      color: #000;
      padding: 10px 8px 10px 8px;
      cursor: pointer;

      .shop-depawture {
        text-decoration: none;
        color: #000;
      }
    }
  }
}

footer {
  height: auto;
  width: 100%;
  padding-top: 60px;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bgcolor;
    flex-direction: column;
    text-align: center;

    .footer-bottom {
      padding-bottom: 40px;
    }

    .socials {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 2.5rem 0;

      li {
        margin: 0 10px;
        cursor: pointer;
        font-size: 1.2rem;
      }

      .fa-facebook:hover {
        color: rgb(66, 103, 178);
      }

      .fa-twitter:hover {
        color: rgb(26, 161, 242);
      }

      .fa-square-instagram:hover {
        color: rgb(193, 53, 132);
      }

      .fa-google-plus:hover {
        color: rgb(76, 139, 245);
      }

      .fa-youtube:hover {
        color: rgb(255, 0, 0);
      }

      .fa-linkedin:hover {
        color: rgb(10, 102, 194);
      }
    }
  }

  .footer-content h3 {
    font-weight: 600;
    font-size: 1.60rem;
    padding-bottom: 8px;
  }

  .footer-content p {
    font-family: $mainfont;
    font-weight: 800;

  }
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 0px 40px 0px;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 30px 30px 30px 30px;
  background-color: $maincolor;

}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px;
  // border-style: groove;
  // border-color: #000;
  margin: auto;
  // box-shadow: 3px 2px 2px 2px rgb(196, 193, 188);

  .product-img img {
    width: 100%;
  }

  .product-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .product-color {
    font-family: $mainfont;
    font-weight: 800;
    font-size: 1rem;
    color: #333;
    padding: 8px 0px 8px 0px;

  }

  .product-price {
    padding-bottom: 9px;
  }
}

.login-section {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-info {
    display: flex;

    .user-login,
    .user-signup {
      border-color: #000;
      text-decoration: none;
      border: 1px solid;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: .05em;
      line-height: 52px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0px 65px 0px 65px;
      color: #000;
    }

    .user-login:hover,
    .user-signup:hover {
      background-color: #000;
      color: aliceblue;
      border-color: #000;
    }
  }

  input {
    width: 390px;
    border: none;
    border-bottom: 1px solid;
    outline-width: 0;
    font-size: medium;
    color: rgb(44, 43, 43);
    padding: 50px 0px 20px 0px;
  }

  .confirm-button {
    border-color: #000;
    text-decoration: none;
    border: 1px solid;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 65px 0px 65px;
    color: aliceblue;
    width: 390px;
    margin-top: 30px;
    background-color: #000;
    cursor: pointer;
  }
}